body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.dayBlock{
    height: 100px;
    width: 90%;
    background-color: red;
    position: relative;

}


.block{
    background-color: blue;
    height: 100%;
    width: 10%;
    position: absolute;
}

.blockg{
    background-color: green;
    height: 100%;
    width: 10%;
    position: absolute;
}